body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
}
div{
    /* border: 1px solid; */
}
nav{
    background-color: #576F72;
}
.profile-icon{
    --size: 3rem;


    border-radius: 50%;
    height: var(--size);
    width: var(--size);
    font-size: 20px;
    background-color: black;
}
.dash-menu{
    background-color: #F8F9D7;
}
.btn-div{
    background-color: #F8F9D7;
}
#root, .App{
    height: 100%;
    overflow-x: hidden;
}

/* 
////////////////////////////////////////////////////////////////
*/


.outerWrapper{
    height: 100vh;
    width: 100vw;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 3;
}
.wrapper{
    display: flex;
    top: -50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: clear 0.7s 2s forwards;
    background-color: white;

}
.innerWrapper{
    font-size: 3rem;
    display:flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    translate: 0 -3rem;
}
.word{
    position: absolute;
    top: -50%;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}
.word:nth-child(1){
    left: 0%;
    animation-name: entryFair;
}
.word:nth-child(2){
    right: 0%;
    animation-name: entrySplit;
}
.slash{
    font-size: 0;
    border: solid 2px rgb(0, 221, 147);
    background-color: rgb(0, 221, 147);
    height: 0rem;
    rotate: z 20deg;
    animation: slashInc 1s 0.5s forwards;
}
.split{
    color: rgb(0, 221, 147);
}

@keyframes clear {
    100%{
        opacity: 0;
        display: none;
    }
}
@keyframes slashInc {
    0%{
        height: 0;
    }
    100%{
        height: 5rem;
    }
}
@keyframes entryFair {
    0%{
        left: -100%;
    }
    25%{
        left: calc(50% + 4px);
        transform: translateX(-100%);
    }
    75%{
        left: calc(50% + 4px);
        top: 0;
        transform: translateX(-100%);
    }
    100%{
        left: calc(50% - 4px);
        transform: translateX(-100%);
        top: 22px;
    }
}
@keyframes entrySplit {
    0%{
        right: -100%;
    }
    25%{
        right: 50%;
        transform: translateX(100%);
    }
    75%{
        right: 50%;
        top: 0;
        transform: translateX(100%);
    }
    100%{
        right: calc(50% - 8px);
        transform: translateX(100%);
        top: -22px;
    }
}

/* 
////////////////////////////////////////////////////////////////
*/